* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 25%;
    width: auto;
    padding: 6%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:start;
    text-align: center;
}

        .content-header img {
            width: 35px;
            height: 30px;
            padding: 10px 10px;
            border-radius: 50%;
        }

        .content-header a{
            padding: 10px 10px;
            text-align: center;
            justify-content: center;
            text-decoration: none;
            color: black;
        }


main{
    height: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    text-align: center;  
    }

    .logo img {
        width: 300px;
        height: 200px;
        margin-top: 10px;
        
    }

    .logo button {
        border-radius: 25%;
        margin-top: 10px;
        border: #d6d6e5b2  solid 4px;
        background-color: white;
        padding: 10px 60px;
        display: flex;
        text-align: left;
    }



    .options{
        margin:30px 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        text-align: center;
    }

        .options button {
            background-color: rgba(216, 228, 245, 0.89);
            border: none;
            margin: 10px 15px;
            padding: 10px 15px;
        }

footer {
    height:20%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:start;
    text-align: center;
    padding: 40px 20px;
}

    footer button {
        font-size: 30px;   
    }

    @media screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 2281px) {

    .footer {
        margin-bottom: 100px;
    }
  }

