* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-size: medium;

}

body {
    width: 100vw;
    height: 100vh;
    padding: 2%;
}


header {
    height: 25%;
    width: auto;
    padding: 6%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:start;
    text-align: center;
    
    }

        .content-header img {
            width: 35px;
            height: 30px;
            border-radius: 50%;
        }
        .content-header button {
            border: none;
            padding: 10px 10px;
            text-align: center;
            
        }

        .content-header a{
            text-decoration: none;
            color: black;
        }


main{
    height: 60%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:center;
    text-align: center;
    
    }

    .logo img {
        width: 300px;
        height: 200px;
        margin-top: 10px;
        
    }

    .logo button {
        border-radius: 25%;
        margin-top: 10px;
        border: #d6d6e5b2  solid 8px;
        padding: 10px 60px;
        display: flex;
        text-align: lefts;
    }



    .options{
        margin:30px 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        text-align: center;
    }

        .options button {
            background-color: rgba(216, 228, 245, 0.89);
            border: none;
            margin: 10px 15px;
            padding: 10px 15px;


        }

footer {
    height:20%;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items:start;
    text-align: center;
    padding: 60px 10px;
}

    footer button {
        font-size: 30px;
    }


@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 378px){
  
  .options{
    display: flex;
      flex-direction: column;
      
  }
}

          
