/*FONTS font-family: 'Open Sans', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;

}

body {
    width: 100%;
    height: auto;
}

a {
    padding: 20px;
    text-decoration: none;
    color: black;
}

p{
    padding: 20px;
}

header {  
    width: 100%;
        min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    .space-header{
        width: 50%;
            min-width: 300px;
        height: auto;
        display: flex;
    }

    .access{
        width: 50%;
            min-width: 300px;
        display: flex;
        justify-content: start;
        align-items: center;   
    }

        .access img{
            height: 35px;
            border-radius: 50%;
            padding: 10px;
            padding: 20px
        }
        .access a{
            margin: 20px;
        }

main{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;  
    }

    .logo{
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .search{
        padding-bottom: 20px;
    }

    .options{
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .logo img {
            width: 400px;
        }

        .search button {
            border-radius: 35%;
            border: #d6d6e5b2  solid 4px;
            background-color: white;
            padding: 20px 80px;
            display: flex;
            text-align: start;
        }

        .options img{
            width: 40px;
            padding: 20px;
        }

footer{
    height: auto;
    width: auto;
    padding: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: #F2F2F2;
    
}

    footer a{
        font-size: 20px;
    }
    footer span{
        font-size: 20px;
        padding: 20px;

    }

    .contry{
        width: 100%;
        margin-top: 60px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
    
    }


    .footer{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
        .content-footer{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
        }

        .politics-footer{
            width: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: right;
            align-items: center;
        }

@media (max-width:1040px ){
    .access{
        width: 100%;
        justify-content: center;
    }

}

@media (max-width:700px ){
    .logo img{
        width: 250px;
    }   
    .country, .content-footer, .politics-footer{
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width:480px ){
    .contry, .content-footer, .politics-footer{
        width: 100%;
    }
}
